svg {
    background: rgb(81,137,172);
background: -moz-linear-gradient(top,  rgba(81,137,172,1) 0%, rgba(222,240,244,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,137,172,1)), color-stop(100%,rgba(222,240,244,1)));
background: -webkit-linear-gradient(top,  rgba(81,137,172,1) 0%,rgba(222,240,244,1) 100%);
background: -o-linear-gradient(top,  rgba(81,137,172,1) 0%,rgba(222,240,244,1) 100%);
background: -ms-linear-gradient(top,  rgba(81,137,172,1) 0%,rgba(222,240,244,1) 100%);
background: linear-gradient(to bottom,  rgba(81,137,172,1) 0%,rgba(222,240,244,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5189ac', endColorstr='#def0f4',GradientType=0 );

}
